/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic); */
/* @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic); */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../ttf/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../ttf/NotoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../ttf/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../ttf/NotoSans-ItalicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../ttf/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../ttf/UbuntuMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../ttf/UbuntuMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../ttf/UbuntuMono-ItalicBold.ttf') format('truetype');
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
