.rkaneko-theme a { text-decoration: none; }
.rkaneko-theme a:link { color: #0d47a1; }
.rkaneko-theme a:visited { color: #0d47a1; }
.rkaneko-theme a:hover { color: #424242; }
.rkaneko-theme a:active { color: #424242; }
